/* ==========================================================================
   COLOPHON
   ========================================================================== */
.colophon {
  margin-top: 4em;
  padding: 20px 0;
  color: #999;
  font-size: 0.8rem; }

.colophon__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0; }

.colophon__menu-item,
.colophon__menu-item--social,
.colophon__menu-label,
.colophon__menu-sep {
  width: 50%;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: bold;
  text-transform: uppercase; }
  @media (min-width: 37.5em) {
    .colophon__menu-item,
    .colophon__menu-item--social,
    .colophon__menu-label,
    .colophon__menu-sep {
      width: initial; } }
  .colophon__menu-item a,
  .colophon__menu-item--social a,
  .colophon__menu-label a,
  .colophon__menu-sep a {
    display: block;
    margin-right: 20px;
    padding: 10px 0;
    color: #999; }
    .colophon__menu-item a:hover,
    .colophon__menu-item--social a:hover,
    .colophon__menu-label a:hover,
    .colophon__menu-sep a:hover {
      color: #000; }

.colophon__menu-item--social {
  text-transform: none; }

.colophon__menu-sep {
  padding: 10px 20px 10px 0; }

.colophon__copyright a {
  color: #999;
  border-bottom: 1px solid #e2e2e2; }
  .colophon__copyright a:hover {
    border-bottom-style: solid; }